.offcanvas-premium {
    background-color: #14021d !important;
    color: #ddd;
}

.offcanvas-premium .section-title {
    font-size: .75rem;
    text-transform: uppercase;
    color: #888;
    margin-bottom: .3rem;
}

.offcanvas-premium .menu-item {
    display: flex;
    align-items: center;
    padding: .6rem .8rem;
    border-radius: .40rem;
    color: #ddd;
    text-decoration: none;
    transition: background .2s;
}

.offcanvas-premium .menu-item i {
    width: 22px;
    margin-right: 10px;
    font-size: 1rem;
}

.offcanvas-premium .menu-item:hover {
    background: #0d6efd;
    color: white;
}